/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */
/* header */
header{
    background-color: darkblue;
    padding: 20px;
    text-align: center;
}
.header1{
    text-decoration: none;
    font-size: 30px;
    padding: 0px 20px;
}
.header2{
    color: green;
}
.header3{
    color: white;
}
/* main */
/* Exercise One */
.home-align-center{
    text-align: center; 
}
.The-Box-Model  {
    font-size: 40px;
    margin: 50px 0px 10px 0px;
}
.Exercise-One{
    font-size: 30px;
    margin-top: 50px;
}
.box1{
    background-color: #90FFA9;
    width: 210px;
    height: 210px;
    margin: 40px auto 30px auto;
    border-radius: 20px;
}
.box2{
    width: 150px;
    height: 150px;
    /*margin: 50px auto 30px auto;*/
    margin:  20px auto;
    display: inline-block;
    background-color: #99D8CA;
    border: 10px solid #5873E2;
    outline: 5px solid #0D1430;
    /*box-shadow: 0 0 0 20px #90FFA9;*/
}
.circlr_text{
    padding:  20px;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: #99D8CA;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
}
.circlr-txt{
    display: inline-block;
    margin-right: 30px;
}
.circle2{
    background-color: #0D1430;
}
.circle3{
    background-color: #90FFA9;
}
.circle4{
    background-color: #5873E2;
}
hr{
    border: 1px dashed black;
    width: 60%;
    margin: 30px auto;
}
/* Exercise Two */
.parent-box{
    width: 660px;
    border: 2px solid black;
    font-size: 0px;
    margin: 30px auto;
}
.child-box{
    width: 200px;
    height: 180px;
    margin:  10px;
    background-color: gray;
    display: inline-block;
}
.child-box-with-border{
    border: 2px solid black;
    box-sizing: border-box;
}
/* blog page */
main{
    line-height: 1.5;
}
.image1{
    width: 650px;
    height: 400px; 
    padding: 40px 20px 20px 90px;
    box-sizing: border-box;
    display: inline-block;
}
img{
    width: 100%;
}
.article1{
    width: 650px;
    height: 400px;
    padding: 40px 90px 20px 20px; 
    box-sizing: border-box;
    display: inline-block;
}
.blog-heading{
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.blog-text{
    font-size: 21px;
}
.read{
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}
.article2{
    width: 650px;
    padding: 70px 20px 20px 90px;
    box-sizing: border-box;
    display: inline-block; 
    vertical-align: top;
    
}
.learn{
    color: green;
    margin: 20px 0;
    display: inline-block;
    font-size: 25px;
}
.fontsize{
    font-size: 40px;
    margin-top: 15px;
}
.article3{
    width: 650px;
    padding: 70px 90px 20px 20px;
    box-sizing: border-box;
    display: inline-block; 
}
.article-image{
    width: 100%;
    height: 350px;

}